.Button {
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: Quicksand;
  font-size: .75rem;
  font-weight: 400;
  opacity: 0.5;
  padding: .75rem 1rem;
  transition: opacity 0.2s linear;
}

.Button:disabled {
  cursor: not-allowed;
  opacity: 0.25!important;
}

.Button:hover {
  opacity: 1;
}

@media screen and (min-width: 48rem) and (min-height: 29.375rem) {
  .Button {
    font-size: 1rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 85.375rem) and (min-height: 29.375rem) {
  .Button {
    font-size: 1.25rem;
    padding: 1rem;
  }
}