.Dashboard {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.container {
  align-items: center;
  background: #0F0905;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.menuToggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.noServiceSelected {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem 2.5rem 1rem;
  width: 100%;
}

.noServiceSelected svg {
  width: 100px;
}

.noServiceSelected h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 1.5rem 0;
}

@media screen and (min-width: 48rem) and (min-height: 29.375rem) {
  .menuToggle {
    display: none;
  }

  .noServiceSelected {
    padding: 3rem;
    width: 77%;
  }

  .noServiceSelected h1 {
    font-size: 2.25rem;
    margin: 2rem 0;
  }

  .noServiceSelected svg {
    width: 175px;
  }
}

@media screen and (min-width: 85.375rem) and (min-height: 29.375rem) {
  .noServiceSelected h1 {
    margin: 3rem 0;
  }

  .noServiceSelected {
    padding: 3rem 6rem;
  }

  .noServiceSelected svg {
    width: 260px;
  }
}
